<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card"> 
                <div class="text-center">
                    <h2>New User</h2>
                    <h6>Register new User</h6>
                </div>
                <form >
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input formControlName="userName" type="text" class="form-control" id="exampleInputEmail1" required>                       
                          </div>
                          
                        <div class="mb-3">
                          <label class="form-label">Email address</label>
                          <input formControlName="userEmail" type="email" class="form-control" id="exampleInputEmail1" required>                       
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mobile number</label>
                            <input formControlName="mobile" type="text" class="form-control" id="exampleInputEmail1"required>                       
                          </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" required>
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Register</button>
                      </form>
                      <a style="color:#fff;margin-top: 30px;" routerLink="/login">Already registerd?</a>
                </form>
            </div>
        </div>
    </div>
</div>