<header>
    <div class="navbar bg-primary shadow-sn">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fa-solid fa-wand-magic-sparkles">&nbsp;</i>
            <Strong style="font-size: 30px; font-style:normal;">Surabhi Hotels</Strong>
            <div class="form-group">
                <input type="text" style="border-radius: 10px;width: 450px;margin-left: 30px;" class="form-control"
                    [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search books">
            </div>
            <span style="position: absolute;right: 46%;top: 20px;margin-left: 30px; color: blue;"
                class="fa-solid fa-magnifying-glass"></span>

        </div>
        <button routerLink="/product" style="margin-left:30px;" class="btn btn-primary">
            <i class="fas fa-home"></i> <br>Home
        </button>
        <button routerLink="/wishlist" style="margin-left: 70px;" class="btn btn-primary">
            <i style="font-size: 20px;" class="fas fa-shopping-cart"></i> <br>
            Cart
            <div style="font-size: 10px;" class="badge bg-danger">
                {{totalwishlist}}
            </div>
        </button>
        <button (click)="logout();" style="margin-left:30px;" class="btn btn-primary">
            <i class="fa-solid fa-right-from-bracket"></i> <br>LogOut
        </button>
    </div>
</header>
<div style="position:relative;" class="card-top container-fluid">
    <div class="container d-flex">
        <div style="margin-right: 40%;" class="item">
            <a>
                <img src="assets/images/Chick.jpg" alt="">
                <h6>Halal Method</h6>
            </a>
        </div>
        <div>
            <marquee
                style="margin-left: -250px;margin-right: -250px;font-size: larger; font-family: cursive; font-weight: bolder;"
                behavior="scroll" direction="left">
                <h1>Welcome to Surabhi Hotels Website</h1>
            </marquee>
        </div>
        <div style="margin-left: 40%;" class="item">
            <a>
                <img src="assets/images/Hot.png" alt="">
                <h6>Tasty!</h6>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList | filter:SearchKey:'name'">
            <div class="card col-md-3">
                <h4><strong>{{item.name}}</strong> </h4>
                <h6> <strong>ID: {{item.id}} </strong> </h6>
                <p><strong>Type</strong>: {{item.type}}</p>
                <p><i class="fas fa-globe-africa"></i>: {{item.cuisine_name}} </p>
                <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:50ch;"><i
                        class="fas fa-mortar-pestle"></i>: {{item.description}} </p>
                <h6><i class="fas fa-rupee-sign"></i>: {{item.price}}</h6>
                <button class="btn btn-primary"><i class="fas fa-shopping-cart"
                        (click)=addtoWishlist(item)></i></button>
            </div>
        </ng-container>

    </div>
</div>